.productName{
    font-family: var(--font);
}
h2.productName{
    color: var(--pink);
}

.image{
    height: 400px;
    padding: 10px;
}

.containerProduct{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nmdContainer{
    display: flex;
    flex-direction: column;

}

.imgContainer{
    max-height: fit-content;
}
