.categoriesContainer {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0px;
  height: fit-content;
  font-family: var(--font);
  color: var(--pink);
  align-items: center;
  min-width: 200px;
}
